.footer{
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
}

.footer-link{
    display: flex;
	border: none;
    text-align: center;
    vertical-align: middle;
	text-decoration: none;
	display: inline-block;
    cursor: pointer;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    color: #F9F9F9;
    margin-top: 10vh;
    margin-bottom: 10vh;
    -webkit-transition: .2s ease-out;
	transition: .2s ease-out;
}

.footer-link:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}