.navbar{
    text-decoration: none;
    background: rgb(0, 48, 11, 0.7);
    text-align: center;
    padding: 3%;
    position: fixed;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;

    /* display: none; */
    
}

.link{
    text-decoration: none;
    color: #F9F9F9;
}

.home-link, .about-link, .gallery-link, .contact-link{
    margin: 0 2em;
    padding: 1%;
}


.social-links{
    /* position: relative; */
    display: flex;
    float: right;
    margin-top: 90vh;
    margin-right: 3vw;
    background-color: red;
  }

  .social-links img{
    width: 45%;
    height: auto;
  }