.navbar{
    text-decoration: none;
    background: rgb(0, 48, 11, 0.95);
    text-align: center;
    padding: 2.5%;
    position: fixed;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    box-shadow: 0 4px 8px 0 rgba(0, 48, 11, 0.2), 0 6px 20px 0 rgba(0, 48, 11, 0.19);
}

.link{
    text-decoration: none;
    color: #F9F9F9;
}

.link:hover{
    text-decoration: underline;
}

.active{
    text-decoration: underline;
}

.contact-link link{
    text-decoration: underline;
}

.home-link, .about-link, .gallery-link, .contact-link{
    margin: 0 2em;
    padding: 1%;
}