.navbar{
    text-decoration: none;
    background: rgb(0, 48, 11, 0.7);
    text-align: center;
    padding: 3%;
    position: fixed;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    background-color: #00300B;

    /* display: none; */
    
}

.link{
    text-decoration: none;
    color: #F9F9F9;

}

.link:hover{
    text-decoration: underline;
}

.active{
    text-decoration: underline;
}

.contact-link link{
    text-decoration: underline;

}

.home-link, .about-link, .gallery-link, .contact-link{
    margin: 0 2em;
    padding: 1%;
}


.social-links{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    float: right;
    margin-top: 90vh;
    margin-right: 3vw;
    /* background-color: red; */
  }

  .social-links img{
    width: 5vh;
    height: auto;







/* 
    border: none;
    text-align: center;
    vertical-align: middle;
	text-decoration: none;
	display: inline-block;
    cursor: pointer;
    width: 10vh;
    height: 10vh;
    background-color: red;
    color: #F9F9F9; */

  }

  .social-links a {
    padding: 0;
    margin:  0 1vw;
  }


  .link-down-page{
      margin-right: 36vw;
      z-index: 1;
  }


  .link-down-page img{
    width: 3vh;
    height: auto;
}


#link-down-page{
    position: absolute;
    top: 100vh;
    /* margin-top: 100vh; */
    background-color: red;
}