.shapes-overflow{
    position: relative;
}

.random-shapes{
    position: absolute;
    z-index: 2;
}

@media (max-width: 1025px){
    .shape-image{
        width: 80%;
        height: auto;
    }
  }