  /* .slider{
    width: 100%;
    height: 100vh;
    z-index: -1;
    margin-top: 50%;
  } */
  
  .hero{
    height: 60%;
    width: 100%;
    /* margin-top: 12vh; */
    left: 0;
    bottom: 0;
  }
  
  .hero img{
    width: 69vw;
    height: 80vh;
    object-fit: cover;
    left: 0;
    bottom: 0;
    position: absolute;

  }
  
  .page-name{
    position: absolute;
    top: 35vh;
    margin-left: 20vw;
    font-size: 100px;
    transform: translate(-40%, -80%);
    color: #F9F9F9;
    animation: 0.5s ease 2.5s normal forwards 1 fadein;
    opacity:0;

  }
  
  @keyframes fadein{
    from{opacity:0}
    to{opacity:1}
  }














/* .about-image{
    height: 800%;
    width: auto;
    object-fit: cover;

}

  .about-image img{
    width: 1000px;
    height: 20px;
    object-fit: cover;
  } */

