.contact-white-body{
    /* display: flex; */
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    /* color: #F9F9F9; */
  
    height: 80vh;
    /* width: 100%; */
    justify-content: center;
    text-align: center;
    display: inline-block;
  
  
  
    position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
  
  }


  .contact-white-body-text h3{
    font-size: 250%;
  }

  .contact-white-body-text h4{
    font-size: 150%;
    text-decoration: underline;
    margin-bottom: 2vh;
  }

  .contact-white-body-text p{
    font-size: 140%;
    font-family: 'Yeseva One', cursive;
    line-height: 150%;


  }


  .green-body-image, .green-body-text, .white-body-image, .white-body-text{
    flex: 1;
    /* background-color: brown; */
    /* width: 35vw; */
  }
  
  .green-body-image, .white-body-image, .white-links-body-image{
    width: 25vw;
  
    object-fit: cover;
  
  }
  
  .green-body-image, .white-body-text{
  margin-right: 5vw;
  }
  
  .green-body-text, .white-body-image{
    margin-left: 5vw;
  
  }
























  .contact-white-body h2{
    font-size: 400%;
  
  }

.contact-white-body-bar{
    width: 5vw;
    height: 2vh;
    margin: 10vh 0;
    background-color: #B83308;
    display: inline-block;


  }





.contact-social-links{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 9vh;
    /* background-color: red; */
    justify-content: center;
  }

  .contact-social-links img{
    width: 10vh;
    height: auto;

  }

  .contact-social-links a {
    padding: 0;
    margin:  0 2vw;
  }




