.contact-white-body{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    justify-content: center;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .contact-white-body-text h3{
    font-size: 250%;
  }

  .contact-white-body-text h4{
    font-size: 150%;
    text-decoration: underline;
    margin-bottom: 2vh;
  }

  .contact-white-body-text p{
    font-size: 140%;
    font-family: 'Yeseva One', cursive;
    line-height: 150%;
  }

  .green-body-image, .green-body-text, .white-body-image, .white-body-text{
    flex: 1;
  }
  
  .green-body-image, .white-body-text{
  margin-right: 5vw;
  }

.contact-hours{
  display: flex;
  justify-content: space-between;
  font-size: 150%;
  padding: 1.5vh 0;
}

.contact-day{
  flex: 1;
}

.contact-spacer{
  flex: 1;
  text-align: center;
}

.contact-time{
  flex: 1.8;
  text-align: end;
}

  .contact-white-body h2{
    font-size: 400%;
  }

.contact-white-body-bar{
    width: 5vw;
    height: 2vh;
    margin: 10vh 0;
    background-color: #B83308;
    display: inline-block;
  }

.contact-social-links{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 9vh;
    justify-content: center;
  }

  .contact-social-links img{
    width: 10vh;
    height: auto;
  }

  .contact-social-links a {
    padding: 0;
    margin:  0 2vw;
  }


  @media (max-width: 1025px){

    .page-name{
      font-size: 600%;
    }
    .contact-hours{
      font-size: 100%;
    }

  }


  @media (max-width: 768px){

    .contact-white-body-text h3{
      font-size: 160%;
    }

    .contact-white-body-text h4, .contact-white-body-text p{
      font-size: 120%;
    }

  }


  @media (max-width: 768px){

    .contact-white-body h2{
      font-size: 350%;
    }

    .contact-social-links a {
      margin:  0 6vw;
    }

  }