.gallery-white-page{
    background-color: #F9F9F9;
    color: #B83308;
  }

  .gallery-white-page{
    position: relative;
  }

.green-page{
    color: #F9F9F9;
  }
  
  .white-page{
    color: #B83308;
  }
  
.gallery-white-body{
    display: flex;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;  
    padding-top: 20vh;
  }
  
 .gallery-body-text{
    flex: 1;
  }
  
  .gallery-body-image{
    width: 25vw;
    object-fit: cover;
  }
  
.gallery-body-text{
  margin-bottom: 20vh;  
}
  
.gallery-body-text h2{
    font-size: 400%;
  }

  .shortcut-body-image{
    flex: 1;
  }

  .container-outer{
    margin-bottom: 20vh;
  }

  .container {
    position: relative;
    width: 100%;
  }
  
  .g-image {
    bottom: 20vh;
    width: 100%;
    height: 80vh;  
    object-fit: cover;
  }
  
  .g-h-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-out;
    background-color: #00300B;
  }
  
  .container:hover .g-h-overlay {
    opacity: 0.95;
  }
  
  .text {
    color: #F9F9F9;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .gallery-hover-bar{
    width: 5vw;
    height: 2vh;
    margin: 5vh 0;
    display: block;
    margin-left: auto;
    margin-right: auto;   
    background-color: #F9F9F9;
  }

  .right-gallery{
    flex: 1;
    margin-left: 5vw;
  }

  .left-gallery{
    flex: 1;
    margin-right: 5vw;  
  }
  
  .shortcut-body-image{
    flex: 1;
  }

  .gallery-white-body{
    z-index: 5;
  }

  .left-gallery, .right-gallery{
    z-index: 3;
  }


  @media (max-width: 1025px){

  .gallery-body-text h2{
    font-size: 350%;
  }

}


  @media (max-width: 768px){

    .gallery-body-text h2{
      font-size: 267%;
    }

  }

  
  @media (max-width: 595px){

    .gallery-white-body{
      display: flex;
      flex-direction: column;
    }

    .left-gallery, .right-gallery{
      margin-left: 0vw;
      margin-right: 0vw;  
    }

  }