/* .home-page{
  background-color: #00300B;
  height: 100vh;
} */

.title{
    padding-top: 50vh;
    line-height: 1;
    font-size: 550%;
    font-weight: 900;
    color: #F9F9F9;
    text-align: center;
  }