.landing-section, .green-page{
  background-color: #00300B;
  height: 100vh;
}



.home-landing-image{
  width: 20vw;

}


.home-landing{
  display: flex;
  max-width: 100%;
  margin-left: 37.5vw;
  margin-right: auto;
  background-color: red;

  display: flex;
    justify-content: center;
}

.home-hero{
  height: 60%;
  width: 100%;
  
  margin-left: auto;
  margin-right: auto;
  left: 0;
  background-color: red;



}

.home-hero img{
  width: 25vw;
  height: 60vh;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  top: 20vh;
  position: absolute;

}

.home-page-name{
  position: absolute;
  top: 35vh;


  font-size: 110px;

  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  color: #F9F9F9;
  /* animation: 0.5s ease 2.5s normal forwards 1 fadein;
  opacity:0; */

}

/* @keyframes fadein{
  from{opacity:0}
  to{opacity:1}
} */

















.quote{
  vertical-align: middle;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-size: 130%;
  position: relative;
  background-color: #F9F9F9;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.quote-mark{
  font-size: 600%;
}

.quote-text{
  text-align: center;
  margin-top: -10vh;

}

.red-vertical-line{
  position: absolute;
  background-color: #B83308;
  width: 1vh;
  height: 100vh;
  margin-left: 50%;
}


.white-page{
  background-color: #F9F9F9;
  height: 100vh;
  color: #B83308;
}