* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

h1, h3, a{
  font-family: 'Yeseva One', cursive;
}

p{
  font-family: 'Playfair Display', serif;
}

a{
  font-size: 120%;
}

.top-window{
  background-color: #00300B;
  height: 100vh;
}




/* .top-window, .third-window{
  background-color: #00300B;
  height: 100vh;
}

.second-window, .fourth-window{
  background-color: #F9F9F9;
  height: 100vh;
}

.footer{
  background-color: #00300B;
  height: 50vh;
} */