* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F9F9F9;
}

 html{
    scroll-behavior: smooth;
  } 

  .App{
      overflow: hidden;
  }

h1, h3, a{
  font-family: 'Yeseva One', cursive;
}

p{
  font-family: 'Playfair Display', serif;
}

a{
  font-size: 120%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00300B; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00500B;  
}